**/*.dll
**/*.exe
build/*
bin-*/*
distrib/build_*/*
**.bak
**.orig
screenshot.bmp
*.pyc
Thumbs.db
OpenGL-tutorial_v*
**.mtl
.DS_Store
Compiled/Debug/
*.db
*.log
*.cmd
Compiled/external/assimp-3.0.1270/code/assimp.dir/Debug/
*.tlog
Compiled/external/ANTTWEAKBAR_116_OGLCORE_GLFW.dir/Debug/
Compiled/external/assimp-3.0.1270/code/Debug/
Compiled/external/assimp-3.0.1270/contrib/zlib/zlib.dir/Debug/adler32.obj
Compiled/external/assimp-3.0.1270/contrib/zlib/zlib.dir/Debug/
Compiled/external/bullet-2.81-rev2613/src/BulletCollision/BulletCollision.dir/Debug/
Compiled/external/bullet-2.81-rev2613/src/BulletDynamics/BulletDynamics.dir/Debug/
Compiled/external/bullet-2.81-rev2613/src/BulletSoftBody/BulletSoftBody.dir/Debug/
Compiled/external/bullet-2.81-rev2613/src/LinearMath/LinearMath.dir/Debug/
Compiled/external/glfw-3.1.2/examples/Debug/
*.pdb
Compiled/external/glfw-3.1.2/examples/particles.dir/Debug/
Compiled/external/glfw-3.1.2/examples/simple.dir/Debug/
Compiled/external/glfw-3.1.2/examples/splitview.dir/Debug/
Compiled/external/glfw-3.1.2/src/glfw.dir/Debug/
Compiled/external/glfw-3.1.2/tests/Debug/
Compiled/misc05_picking_BulletPhysics.dir/Debug/
Compiled/misc05_picking_custom.dir/Debug/
Compiled/misc05_picking_slow_easy.dir/Debug/
Compiled/tutorial07_model_loading.dir/Debug/
Compiled/tutorial08_basic_shading.dir/Debug/
Compiled/tutorial09_AssImp.dir/Debug/
Compiled/tutorial09_several_objects.dir/Debug/
Compiled/tutorial09_vbo_indexing.dir/Debug/
Compiled/tutorial10_transparency.dir/Debug/
Compiled/tutorial11_2d_fonts.dir/Debug/
Compiled/tutorial12_extensions.dir/Debug/
Compiled/tutorial13_normal_mapping.dir/Debug/
Compiled/tutorial14_render_to_texture.dir/Debug/
Compiled/tutorial15_lightmaps.dir/Debug/
Compiled/tutorial16_shadowmaps.dir/Debug/
Compiled/tutorial16_shadowmaps_simple.dir/Debug/
Compiled/tutorial17_rotations.dir/Debug/
Compiled/tutorial18_billboards.dir/Debug/
Compiled/tutorial18_particles.dir/Debug/
